.card-clinic-app {
	margin-top: -270px;
	background: hsla(0, 0%, 100%, 0.6);
	backdrop-filter: blur(30px);
}

.bg-form {
	background: linear-gradient(to right, #8dc936, #57af7c, #1b98d2) !important;
	height: 300px;
}

.logo-form {
	width: 250px;
}

.Cardiología {
	background-color: rgb(189, 76, 76);
	color: beige;
}
.Dermatología{
	background-color: rgb(218, 165, 97);
	color: beige;
}
.Pediatría{
	background-color: rgb(177, 143, 209);
	color: beige;
}
.Ginecología{
	background-color: rgb(255, 86, 255);
	color: beige;
}
.Ortopedia {
	background-color: rgb(137, 183, 223);
	color: beige;
}
.Otros{
	background-color: rgb(112, 112, 112);
	color: beige;
}