<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headers">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${pageTitle}]] - Clinic App</title>
	<link rel="stylesheet" href="/bootstrap5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome6/css/all.min.css">
</head>
<body>
    <div th:fragment="menu">
	    <nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container">
		    <a class="navbar-brand" th:href="@{/}">Clinic App</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/reservation/}"><i class="fa-solid fa-calendar-days fa-2xl"></i></a>
		        </li>
		        <li class="nav-item">
					<a class="nav-link" th:href="@{/admin/}"><i class="fa-solid fa-building-shield fa-2xl"></i></a>
		        </li>
		      </ul>
			  <ul class="navbar-nav d-flex ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  <i class="fa-solid fa-user fa-2xl"></i>
					</a>
					<ul class="dropdown-menu">
					  <li><a class="dropdown-item" th:href="@{/}">Editar</a></li>
					  <li><a class="dropdown-item" th:href="@{/}">Cambiar contraseña</a></li>
					  <li><a class="dropdown-item" th:href="@{/}">Cerrar Session</a></li>
					</ul>
				  </li>
			  </ul>
		    </div>
		  </div>
		</nav>
	</div>
	<div th:fragment="footer" class="text-center">
		<p> Clinic App developed by UTP students  - Copyright &copy; UTP students </p>
	</div>
	<div th:fragment="scripts">
		<script src="/bootstrap5/js/bootstrap.bundle.min.js"></script>	
		<script src="/sweetalert/js/sweetalert.min.js"></script>
		<script src="/fontawesome6/js/all.min.js"></script>	
	</div>
</body>
</html>